body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #0ea5e9;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 8px 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sidebar {
    padding: 10px;
    background-color: #0ea5e9;
    grid-row: 1 / 8;
    /* Easier to use display flex here rather than grid. */
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

/* Make all sidebar icons white */
.sidebar img {
    filter: invert(97%) sepia(8%) saturate(766%) hue-rotate(225deg) brightness(117%) contrast(100%); 
    height: 20px;
    width: 20px
}

.sidebar h4 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 10px;
}

.logo h3 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 50px;
    width: 50px;
}



.header {
    grid-column: 2 / 8;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0px 20px 0px;
    padding: 0px 30px 0px 30px;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.bar img {
    height: 1.5rem;
    width: 1.5rem;
}

.left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.searchbar {
    height: 1.5rem;
    width: 22rem;
    border-radius: 2rem;
    background-color: #f3f4f6;
}

.content {
    background-color: #f3f4f6;
    grid-column: 2 / 8;
    grid-row: 2/ 8; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.yourp {
    margin: 10px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    margin-left: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
}

.card {
    background-color: white;
    background-image: linear-gradient(to right, rgb(255, 181, 71) 3%, rgba(0,0,0,0) 3%);
    width: 25rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 1.5rem;
    height: 1.5rem;
}

.info {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.links {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.announcements {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin-top: 1rem;
}

.trending {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.rightbar {
    background-color: white;
    height: 27rem;
    width: 20rem;
    border-radius: 1rem;
}

.tag {
    padding: .1rem 1rem 0rem 1rem;
}

hr {
    width: 90%;
}